<launch>
  
  <!-- Publish point cloud from file -->
  <node pkg="point_cloud_io" type="read" name="read" output="screen">
    <param name="file_path" value="$(find rover)/map/marsyard.ply" />
    <param name="topic"     value="/point_cloud" />
    <param name="frame"     value="map" />
    <param name="rate"      value="1.0" />
  </node>
    
  <!-- Visualize the point cloud in rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find point_cloud_io)/examples/point_cloud_io.rviz" />

  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.05" />
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->

		<param name="frame_id" type="string" value="map" />
		
		<!-- maximum range to integrate (speedup!) -->

		<param name="sensor_model/max_range" value="100" />
    
		
		<!-- data source to integrate (PointCloud2) -->
		<remap from="cloud_in" to="/point_cloud" />
	
	</node>  
</launch>