<launch>
  <remap from="odom" to="odometry/filtered"/>
  <remap from="cmd_vel" to="nav_vel"/>

  <node name="move_base"
        pkg="move_base"
        type="move_base"
        clear_params="true">
    <rosparam command="load"
              file="$(find rover)/params/move_base.yaml"/>

    <!-- costmaps -->
    <rosparam command="load"
              ns="global_costmap"
              file="$(find rover)/params/common_costmaps.yaml"/>
    <rosparam command="load"
              ns="local_costmap"
              file="$(find rover)/params/common_costmaps.yaml"/>
    <rosparam command="load"
              file="$(find rover)/params/local_costmap.yaml"/>
    <rosparam command="load"
              file="$(find rover)/params/global_costmap.yaml"/>

    <!-- planners -->
    <rosparam command="load"
              file="$(find rover)/params/local_planner.yaml"/>
    <rosparam command="load"
              file="$(find rover)/params/global_planner.yaml"/>
  </node>
</launch>

